<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tesis.galeria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="com.tesis.galeria.galeria.componentes.HistorialBusqueda"
            android:authorities="com.tesis.galeria.galeria.componentes.HistorialBusqueda" />

        <activity
            android:name=".galeria.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".galeria.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".galeria.DetallesAvaluoActivity"
            android:label="@string/title_activity_detalles_avaluo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".galeria.DetallesObraActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".galeria.DetallesArtistaActivity"
            android:label="@string/title_activity_artista"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".galeria.ProcesarAvaluoActivity"
            android:label="@string/title_activity_procesar_avaluo"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".galeria.servicios.AddRespaldoService"
            android:exported="false" />

        <activity
            android:name=".galeria.DetallesAsesoriaActivity"
            android:label="Detalles asesoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".galeria.DetallesPublicacionActivity"
            android:label="Detalles publicacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".galeria.BusquedaActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.tesis.galeria.galeria.Busqueda" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
    </application>
</manifest>